{% load staticfiles %}<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <meta charset="UTF-8">
    <title>Raspberry Pi Traffic Control - {{ title }}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Pi Traffic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item{% if page == "home" %} active{% endif %}">
                <a class="nav-link" href="{% url 'home:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item{% if page == "lights" %} active{% endif %}">
                <a class="nav-link" href="{% url 'lights:index' %}">Lights</a>
            </li>
            <li class="nav-item{% if page == "switches" %} active{% endif %}">
                <a class="nav-link" href="{% url 'switches:index' %}">Switches</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {% block body %}{% endblock body %}
</div>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'popper.js/dist/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>