{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block body %}
    <div class="container mt-5">
        <h2>Update LCD</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
{% endblock body %}
{% block script %}
<script>
$(document).ready(function() {
    const ip_line = $("#id_ip_line");
    const mode_line = $("#id_mode_line");

    ip_line.change(function () {
        if ($(this).val() === '2') {
            mode_line.val('1');
        } else {
            mode_line.val('2');
        }
    });
    mode_line.change(function () {
        if ($(this).val() === '2') {
            ip_line.val('1');
        } else {
            ip_line.val('2');
        }
    });
    if ($("#id_show_ip:checkbox").prop('checked')) {
        $("#id_line_" + ip_line.val()).attr("disabled", true).val("IP Address: {{ ip }}");
    } else {
        $("#id_line_" + ip_line.val()).attr("disabled", false);
    }
    if ($("#id_show_mode:checkbox").prop('checked')) {
        $("#id_line_" + mode_line.val()).attr("disabled", true).val("Mode:  Traffic/Music");
    } else {
        $("#id_line_" + mode_line.val()).attr("disabled", false);
    }
    $("#id_show_ip:checkbox ").change(function () {
        console.log($(this).prop('checked'));
        if ($(this).prop('checked')) {
            $("#id_line_" + ip_line.val()).val('IP Address:  {{ ip }}').attr("disabled", true);
        } else {
            $("#id_line_" + ip_line.val()).val('').attr("disabled", false);
        }
    });
    $("#id_show_mode:checkbox ").change(function () {
        console.log($(this).prop('checked'));
        if ($(this).prop('checked')) {
            $("#id_line_" + mode_line.val()).val('Mode: Traffic/Music').attr("disabled", true);
        } else {
            $("#id_line_" + mode_line.val()).val('').attr("disabled", false);
        }
    });
});
</script>
{% endblock script %}